
services:
    shopware:
        image: dockware/dev:6.7.2.2
        environment:
            - DOCKER_USER=${DOCKER_USER:-33:33}
        ports:
            - target: 433
            - target: 80
        volumes:
            - ./boot_start.sh:/var/www/boot_start.sh
            - ./src:/var/www/html:rw,cached
            - ./plugins:/var/www/html/custom/plugins:rw,cached
            - jwt:/var/www/html/config/jwt:rw,cached
            - var:/var/www/html/var:rw,cached
            - db_data:/var/lib/mysql
        labels:
            - traefik.enable=true
            # Serve oro over http
            - traefik.http.routers.shopware-http.rule=Host(`${SERVER_NAME}`)
            - traefik.http.routers.shopware-http.entrypoints=http
            # Serve oro over https
            - traefik.http.routers.shopware-https.rule=Host(`${SERVER_NAME}`)
            - traefik.http.routers.shopware-https.entrypoints=https
            - traefik.http.routers.shopware-https.tls=true

volumes:
    db_data:
    jwt:
    var:
